.logo{
    height: 84px;
}

.bg-naranja{
    background-color: #FFA300;
}

.bg-verde{
    background-color: #78BE20;
}

.text-gris{
   color: #90908f;
}

.rounded-xl {
    border-radius: 0.7rem!important;
}

.modify-col{
    padding-left: 6px !important;
    padding-right: 6px !important;
}

.fs-5{
    font-size: 40px;
}

.fs-6{
    font-size: 63px;
}


@media (max-width: 1660px){
    .text-gris{
        font-size: 32px;
     }

     .fs-5{
        font-size: 34px;
    }

     .fs-6{
        font-size: 54px;
    }
}


@media (max-width: 1365px){
    .text-gris{
        font-size: 24px;
     }

     .fs-5{
        font-size: 26px;
    }


     .fs-6{
        font-size: 46px;
    }
}


@media (max-width: 1040px){

    .logo{
        height: 70px;
    }
    
    .text-gris{
        font-size: 18px;
     }

     .fs-5{
        font-size: 14px;
    }


     .fs-6{
        font-size: 34px;
    }
}


@media (max-width: 800px){

    .logo{
        height: 60px;
    }
    
    .text-gris{
        font-size: 16px;
     }

     .fs-5{
        font-size: 14px;
    }

     .fs-6{
        font-size: 26px;
    }
}




