<div class="pt-4 pr-4 pl-4 pb-4">

   <!-- COMPONET HEADER -->

  <header class="d-flex align-items-center mb-2">
    
      <div class="col-3">
        <img class="logo" src="assets/images/logo.svg">
    </div>

    <div class="col-7">
      <h1 class="font-weight-bold text-gris fs-5">LLAMADO A RECEPCIÓN - PRÓXIMO PACIENTE</h1>
    </div>
  </header>


  
   <!-- COMPONET LISTA RECEPCION -->

   <div class="d-flex align-items-center text-center text-white mb-3 ">
    <div class="col-6 modify-col">
      <div class="p-3 rounded-xl bg-naranja">
        <h1 class="font-weight-bold fs-5">Número</h1>
      </div>
    </div>

    <div class="col-6 modify-col">
      <div class="p-3 rounded-xl bg-naranja">
        <h1 class="font-weight-bold fs-5">Módulo</h1>
      </div>
    </div>
   </div>

   <div *ngFor="let recepcion of listaRecepcion" class="d-flex align-items-center mb-1">

    <div class="col-6 modify-col">
      <div class="rounded-xl bg-verde text-center text-white">
        <h1 class="font-weight-bold fs-6">{{recepcion.numero}}</h1>
      </div>
    </div>

    <div class="col-6 modify-col">
      <div class="rounded-xl bg-verde text-center text-white">
        <h1 class="font-weight-bold fs-6">{{recepcion.modulo}}</h1>
      </div>
    </div>

   </div>



    <!-- COMPONET LISTA CONSULTA -->

   <div class="text-center mb-3">
    <h1 class="font-weight-bold text-gris fs-5">LLAMADO A CONSULTA - PRÓXIMO PACIENTE</h1>
  </div>

  <div class="d-flex align-items-center text-white mb-3">
    <div class="col-5 modify-col">
      <div class="p-3 rounded-xl bg-naranja ">
        <h1 class="font-weight-bold fs-5"> <i class="fas fa-user mr-2 ml-2"></i> Nombre paciente</h1>
      </div>
    </div>

    <div class="col-5 modify-col">
      <div class="p-3 rounded-xl bg-naranja">
        <h1 class="font-weight-bold fs-5"> <i class="fas fa-user-md mr-2 ml-2"></i> Nombre médico</h1>
      </div>
    </div>

    <div class="col-2 modify-col">
      <div class="p-3 rounded-xl bg-naranja">
        <h1 class="font-weight-bold fs-5"> <i class="fas fa-clipboard-list mr-2 ml-2"></i> BOX</h1>
      </div>
    </div>
   </div>


   <div *ngFor="let consulta of listaConsulta" class="d-flex align-items-center text-white mb-1">

    <div class="col-5 modify-col">
      <div class="rounded-xl bg-verde">
        <h1 class="font-weight-bold ml-2 fs-6">{{consulta.nombre}}</h1>
      </div>
    </div>

    <div class="col-5 modify-col">
      <div class="rounded-xl bg-verde">
        <h1 class="font-weight-bold ml-2 fs-6">{{consulta.medico}}</h1>
      </div>
    </div>

    <div class="col-2 modify-col">
      <div class="rounded-xl bg-verde">
        <h1 class="font-weight-bold ml-2 fs-6">{{consulta.box}}</h1>
      </div>
    </div>

   </div>


   <!-- COMPONET FOOTER -->

   <footer class="d-flex justify-content-end fixed-bottom">
      <img class="pr-4" src="assets/images/powered.svg" width="230">
  </footer>

</div>

